$primary: #8BB7A2;

$white: #ffffff;
$black: #1E211C;

$display: $black;
$subtext : #605E6E;
$subtext-secondary : #8E8D96;

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $black;
}

